<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/tbbpnxh5izmn0xhrywbf">
                            <div class="card-body">
                              <h5 class="card-title">Paradise resturant</h5>
                              <p class="card-text">350 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card">
                            <img height="300"src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/zatzct0sudououwazase" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Fruit Bae</h5>
                              <p class="card-text">200 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                         </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/iaf5mmx7jl0ewqpddscv" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Coperative Sea Food</h5>
                              <p class="card-text">300 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                         </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/ly6zhewooausfwzagn7z" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Diana Hotel</h5>
                              <p class="card-text">300 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img  height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/prz4aj485qjzdeailhas" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Vibe Adoor</h5>
                              <p class="card-text">300 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                        </div>
                    </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/hndesdoptta27yfubgob" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Cukoos Kitchen</h5>
                              <p class="card-text">500 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/exn01tp2fq01a6cpmslq" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Burger Plus </h5>
                              <p class="card-text">300 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/kcnaibbn1vp2ptm6n2fh" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Arabian Cafe</h5>
                              <p class="card-text">500 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/ontkdxowuja3cfo7gds9" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Pizza Hut</h5>
                              <p class="card-text">350 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/vckwszvyelhkggu37zdj" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Drunken monkey</h5>
                              <p class="card-text">350 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/lijmkpivsw6xvpckomkg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Hotel Yamuna</h5>
                              <p class="card-text">400 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/gzi4rjwellcwytjirfjl" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">NFC</h5>
                              <p class="card-text">350 for two</p>
                              <a href="signup.html" class="btn btn-primary">Buy</a>
                            </div>
                        </div>

                    </div>
            </div>    
        </div>
    </div>
</div>        